---
import { Font } from "astro:assets";
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<Font cssVariable="--font-sans" preload />
<Font cssVariable="--font-serif" preload />

<meta
    name="description"
    content="Independent estate agency specialising in design-led homes. Remarkable architecture. The Domus service. Homes designed to enhance the lives lived in them."
/>
<title>Luxury Estate Agency in London and lbiz - Domus Nova</title>
