---
import { Image } from "astro:assets";
import BarnesImage from "~/src/assets/barnes.png";
import CarouselOne from "~/src/assets/carousel_one.jpg";
---

<div class="bg-[#f9f8f4] py-20 md:max-lg:pb-25">
    <div
        class="relative w-full mx-auto max-w-[calc(100%-40px)] md:max-w-[calc(100%-72px)] lg:max-w-[calc(100%-98px)] 2xl:max-w-[calc(100%-220px)]"
    >
        <div class="md:flex md:flex-wrap">
            <div
                class="mb-14 md:mx-3.5 md:shrink-0 md:grow-0 md:basis-[calc(50%-28px)] lg:px-[8.33%]"
            >
                <h2
                    class="font-serif text-neutral-800 text-2xl md:text-3xl pb-5"
                >
                    An independent estate agency specialising in London and
                    Ibiza’s design-led homes.
                </h2>
                <p class="text-neutral-800 pb-5">
                    More than 20 years’ experience matchmaking discerning buyers
                    and sellers, landlords and renters. Remarkable architecture.
                    The Domus service. Homes designed to enhance the lives lived
                    in them. And now access to an unrivalled global network, in
                    partnership with BARNES International.
                </p>
                <a
                    href="/"
                    class="pl-4.5 text-neutral-800 text-sm relative before:absolute before:size-3 before:bg-neutral-800 before:left-0 before:top-1/2 before:-translate-y-1/2"
                    >Find out more</a
                >
                <hr class="mt-5 mb-10 border-b border-neutral-300" />
                <Image
                    class="mb-10"
                    src={BarnesImage}
                    alt="Barnes partner"
                    quality={40}
                    format="avif"
                    width={214}
                    height={69}
                />
            </div>
            <div
                class="md:mx-3.5 md:shrink-0 md:grow-0 md:basis-[calc(50%-28px)] lg:px-[8.33%]"
            >
                <figure class="relative md:pb-[126%]">
                    <Image
                        src={CarouselOne}
                        alt="Barnes partner image"
                        quality={50}
                        format="avif"
                        width={476}
                        height={496}
                        class="md:absolute h-full object-cover min-h-88.5"
                    />
                </figure>
            </div>
        </div>
    </div>
</div>
