---
import { Image } from "astro:assets";
import Logo from "~/src/assets/logo.svg";
---

<header class="flex justify-center">
    <div
        class="lg:max-w-[calc(100%-98px)] 2xl:max-w-[calc(100%-220px)] w-full relative mx-5 sm:mx-9 lg:mx-12 h-17.5 md:h-22.5 lg:h-27.5 flex items-center"
    >
        <Image
            src={Logo}
            alt="Logo"
            class="absolute top-1/2 left-1/2 -translate-1/2 aspect-auto w-41 md:w-54 lg:w-67.5"
        />
        <nav class="w-full hidden lg:block lg:mr-4.5">
            <ul class="flex items-center 2xl:text-lg *:mr-9">
                <li>
                    <a class="text-neutral-800" href="/london">London</a>
                </li>
                <li>
                    <a class="text-neutral-800" href="/ibiza">Ibiza</a>
                </li>
                <li>
                    <a class="text-neutral-800" href="/international"
                        >International</a
                    >
                </li>
                <li class="ml-auto">
                    <a class="text-neutral-800" href="/buy">Buy</a>
                </li>
                <li>
                    <a class="text-neutral-800" href="/rent">Rent</a>
                </li>
                <li>
                    <a class="text-neutral-800" href="/homeowners">Homeowners</a
                    >
                </li>
            </ul>
        </nav>
        <div
            class="absolute top-1/2 -right-2.5 -translate-y-1/2 size-10 flex items-center justify-center"
        >
            <div
                class="space-y-1 [&_span]:flex [&_span]:h-0.5 [&_span]:w-4.5 [&_span]:bg-black"
            >
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
