---
import "~/src/styles/global.css";
import BaseHead from "~/src/components/BaseHead.astro";
---

<html lang="en">
    <head>
        <BaseHead />
    </head>
    <body>
        <slot />
    </body>
</html>
